<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Feedback Form</title>
</head>
<body>
	<h1>Feedback Form</h1>


	<form action="saveFeedback" method="post">
		<pre>
		Name: <input type="text" name="name" />
		 Email: <input type="text" name="email" />
		 Message:<textarea cols="20" name="message"></textarea>
		<input type="submit" value="Save" />
</pre>
	</form>

	<p th:text="${message}"></p>
	
	<a href="displayFeedback">View All</a>
</body>
</html>